enableMockDeleteInsuredEntityUser="true"
enableMockDeleteProducerEntityUser="true"
enableMockGenerateLossRunReport="true"
enableMockGetAccountEntityUsers="true"
enableMockGetProducerEntityUsers="true"
enableMockGetUserDetails="true"
enableMockIsUserRegistered="true"
enableMockProvisionExistingInsuredUser="true"
enableMockProvisionExistingProducerUser="true"
enableMockProvisionNewInsuredUsers="true"
enableMockProvisionNewProducerUsers="true"
enableMockUpdateInsuredUserRole="true"
enableMockUpdateProducerUserRole="true"
enableMockValidateInsuredUser="true"
enableMockValidateProducerUser="true"
enableMockValidateUser="true"
